*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background:white;
    color:black;

}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.conteiner{
    width: 90%;
    margin: auto;
}

/* Navegación */
.menu-btn{
    color: white;
    cursor: pointer;
    display: none;
    right: 3vw;
    top:1.4vh;
    font-size: 1.5rem;
    position: absolute;
}

.name-page{
color: white;
 display: none;
 top: 1vh;
 left: 1vh;
 position: absolute;
 font-size: 3vh;
}

.nav-main{
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 4.4vh;
    padding-top: 1vh;
    background: #113E8C;   
    margin-bottom: 1vh;     
}

.nav-main ul{
    display: flex;
}

.nav-main ul.nav-menu{
    flex: 1;

}
.nav-main ul i{
    font-size: 1.2rem;
    padding:0 1vw;
}

.nav-main  ul li{
    
    cursor:pointer;
    padding: 0 1vw;
    font-size: 2vh;;
}


.nav-main ul li a:hover{
    color: black;
    
}

.contac{
   
    z-index: 2;
    display: none;
    background:#113E8C;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
    opacity: .9;
    transform: translateX(-.1vw);


}
.contac:hover{
    color: black;    
}

.contac li.contac-one,
.contac li.contac-two {
    padding: 2vh;
}
.contac li a i{
    padding: 0 1vw;
    padding-left: 0;
    padding-right: 1vw;
}


.contac.show{
display: block;
}
/*Slider*/
.slider-wrap{
 
    margin-left: auto;
    margin-right: auto;
}


/*Cards*/
.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vw;
    margin-bottom: 4vh;
}
.card-one,.card-two{
    padding-top:2vh ;
    justify-content: center;
    text-align: center;
    font-size: 2vh; 
    border: #113E8C solid 2px;
}
.card-one img, .card-two img{
   width: 70%;
   background:#113E8C;
}

/*Banner*/
.banner{
	
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
    height: 30vh;
    margin-bottom:4vh;
}

.banner:before{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.6);
}
.banner .banner-text{
    color:white;
    width: 40%;
    padding-top: 14vh;
    text-align: left ;
    padding-left: 2vw;
    font-size: 2vh;
    position: relative;
}
#banner1{
    background-image: url('../img/Banner/banner1.jpg');
}
#banner2{
    background-image: url('../img/Banner/banner1.jpg');
}
#banner3{
    background-image: url('../img/Banner/banner1.jpg');
}
/*Foot*/
footer{
    background: #113E8C;
    height: 20vh;
    
}
.pie{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vw;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: .5vh;
}
.pie .redes{
    text-align: center;
    margin-top: 4vh;
    font-size: 2vh;
}
.pie .redes .logos-redes{
    padding: 1.2vw;   
}
.pie .redes .logos-redes a {
   padding: 4vh;
   padding-left: 3.8vh;
}
.pie .redes .logos-redes a i{
    font-size: 4rem;
}
/*Información*/
.pie .info{
    text-align: center;
    margin-top: 4vh;
    font-size: 2vh;
}
.contacto{
   padding-left: 1vh;
    width: 100%;
    text-align: left;
    font-size: 1.8vh;
}
/*Copyright*/
.copy{
    background: #113E8C;
    color: white;
    text-align: center;
    font-size: 1.2vh;
}

/*Acaba diseño normal*/


/*Portrait*/
@media(max-width: 500px){

    .name-page{
        display: block;
    }
   
    .menu-btn{
        display: block;
    }
    .conteiner{
        width: 100%;
    }
    .nav-main{
        height: 6.5vh;  
    }

    .nav-main ul.nav-menu{
        z-index: 2;
        display: block;
        position: absolute;
        height: 100%;
        top:0;
        left:0; 
        background:#113E8C;
        padding: 4vw;
        padding-top:4vh ;
        transform: translateX(-400px);
        opacity: .9;
        transition: transform .5s ease-in-out;
   
    }
    .contac{
       transform: translateX(0px);
    }
   
    .contac li a i{
       padding: 0 1vh;
       padding-left: 1.5vh;
       padding-right: 1vh;;
       font-size: 1rem;
   }

   .nav-main ul i{
    padding:0 1.4vh;
}
   
    .nav-main ul.nav-menu.show{
       transform: translateX(0vh);
    }
   
    .nav-main ul.nav-menu li{
       padding:3vw 0vw;
       font-size: 3vh;
   }
   
   .nav-main ul.nav-menu li.desple .contac li.contac-one{
       padding-left: .5vw;
       padding-top: 4vw;
   }
   .nav-main ul.nav-menu li.desple .contac li.contac-two{
       padding-left: .5vw;
   }
   /*Slider*/
   .slider-wrap{
       height: 22vh ;
    }
    /*Cards*/
    .cards{
        margin: 0 auto;
        width: 95%;
        margin-bottom: 3vh;
    }
    .card-one,.card-two{
        font-size: 1.5vh; 
    }
        
 
    /*Banners*/
    .banner{
        height: 15vh;
    }
    .banner .banner-text{
        padding-top: 5vh;
        width: 100%;
        font-size: 1.7vh;
    }

      /*Foot*/
      footer{
        height: 15vh;
    }
    /*Redes*/
    .pie .redes{
        margin-top: 2vh;
        font-size: 1.5vh;
    }
    .pie .redes .logos-redes{
        padding: 1vh;
       
    }
    .pie .redes .logos-redes a {
       padding: 2vh;
      padding-left: 1.8vh;
    }
    .pie .redes .logos-redes a i{
        font-size: 2.1rem;
    }
    /*Información*/
    .pie .info{
        margin-top: 2vh;
        font-size: 1.5vh;
    }
    .contacto{
        font-size: 1.5vh;
    }
    /*Copyright*/
    .copy{
        font-size: 1vh;
    }
   
}
/*Landscape*/
@media(min-width: 501px)and (max-width:900px) {
    .name-page{
        display: block;
    }
   
    .menu-btn{
        display: block;
    }
    .conteiner{
        width: 100%;
    }
    .nav-main{
        height: 6.5vw;  
    }

    .menu-btn{
        right: 3vw;
        top:1.4vw;
    }
    
    .name-page{
     top: 1vw;
     left: 1vw;
     font-size: 3vw;
    }

    .nav-main ul.nav-menu{
        z-index: 2;
        display: block;
        position: absolute;
        height: 100%;
        top:0;
        left:0; 
        background:#113E8C;
        padding: 6vh;
        padding-top:4vw ;
        transform: translateX(-400px);
        opacity: .9;
        transition: transform .5s ease-in-out;
   
    }
    .contac{
       transform: translateX(0px);
    }
   
    .contac li a i{
       padding: 0 1vw;
       padding-left: 1.5vw;
       padding-right: 1vw;;
       font-size: 1rem;
   }
   
   .nav-main ul i{
    padding:0 1.4vw;
}
   
    .nav-main ul.nav-menu.show{
       transform: translateX(0vh);
    }
   
    .nav-main ul.nav-menu li{
       padding:3vh 0vh;
       font-size: 3vw;
   }
   
   .nav-main ul.nav-menu li.desple .contac li.contac-one{
       padding-left: .5vh;
       padding-top: 4vh;
   }
   .nav-main ul.nav-menu li.desple .contac li.contac-two{
       padding-left: .5vh;
   }
   /*Slider*/
   .slider-wrap{
       height: 38vw ;
    }
    /*Cards*/
    .cards{
        margin: 0 auto;
        width: 95%;
        margin-bottom: 3vw;
    }
    .card-one,.card-two{
        padding-top:2vw ;
        font-size: 2vw; 
    }
    /*Banners*/
    .banner{
        height: 15vw;
    }
    .banner .banner-text{
        font-size: 2vw;
        padding-top: 5vw;
        width: 100%;
    }
       /*Foot*/
       footer{
        height: 15vw;
    }
    /*Redes*/
    .pie .redes{
        margin-top: 2vw;
        font-size: 1.5vw;
    }
    .pie .redes .logos-redes{
        padding: 1vw;
       
    }
    .pie .redes .logos-redes a {
       padding: 2vw;
      padding-left: 1.8vw;
    }
    .pie .redes .logos-redes a i{
        font-size: 2.8rem;
    }
    /*Información*/
    .pie .info{
        margin-top: 2vw;
        font-size: 1.5vw;
    }
    .contacto{
        font-size: 1.5vw;
    }
    /*Copyright*/
    .copy{
        font-size: 1vw;
    }

   
}
/*Detalles*/
@media(min-width: 800px) and (max-width:1112px){
    .banner .banner-text{
        width: 80%;
    }
}

/*acaba celular*/